<div *ngIf="(cfNames | async) || (tagNames | async); else placeholder">
    <div class="container pt-4">
        <div [@fadeInDownOnEnter] class="row d-md-none pb-4">
            <div class="col">
                <a style="width: 100px;" class="btn btn-secondary ms-3" [routerLink]="['/']">Back</a>
            </div>
    
            <div class="col">
                <app-characters-toggle (charactersToggle)="charactersToggle.next($event)"></app-characters-toggle>
            </div>
        </div>
    
        <div class="row">
            <div [@fadeInLeftOnEnter] class="col-2 d-none d-md-block">
                <div class="row">
                    <app-characters-toggle (charactersToggle)="charactersToggle.next($event)"></app-characters-toggle>
                </div>
                
                <div class="row mt-4">
                    <a style="width: 100px;" class="btn btn-secondary ms-3" [routerLink]="['/']">Back</a>
                </div>
            </div>
    
            <div class="col-md-10 col-12">
                <div [@fadeInUpOnEnter] class="div-color p-4 rounded" *ngIf="(charactersToggle | async) === 'CF'">
                    <div *ngFor="let characterNames of cfNames | async">
                        <div class="row pb-4" *ngFor="let characterNames_ of characterNamesInChunks(characterNames.characterNames, 6)">
                            <div class="col" *ngFor="let characterName of characterNames_">
                                <a [routerLink]="['../' + characterNames.gamePrefix + '/' + characterName]">
                                    <img class="img-fluid" loading="lazy" src="{{backend.getIconUrl(characterNames.gamePrefix, characterName)}}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div [@fadeInUpOnEnter] class="div-color p-4 rounded" *ngIf="(charactersToggle | async) === 'TAG'">
                    <div *ngFor="let characterNames of tagNames | async">
                        <div class="row pb-4" *ngFor="let characterNames_ of characterNamesInChunks(characterNames.characterNames, 6)">
                            <div class="col" *ngFor="let characterName of characterNames_">
                                <a [routerLink]="['../' + characterNames.gamePrefix + '/' + characterName]">
                                    <img class="img-fluid" loading="lazy" src="{{backend.getIconUrl(characterNames.gamePrefix, characterName)}}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
        </div>
    </div>
</div>

<ng-template #placeholder>
    <div class="d-flex justify-content-center align-items-center main-container">
        <div class="spinner spinner-border spinner-color" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>