<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2">
            <div class="d-flex flex-column position-fixed">
                <div class="trinity-header">
                    <app-trinity-header class="d-none d-xl-block" [isSmall]="true"></app-trinity-header>
                </div>
                <div>
                    <app-character-selection class="d-none d-xl-block" [textInputClass]="textInputClass" [imgClass]="imgClass"></app-character-selection>
                </div>              
                <div class="movelist">    
                    <app-movelist [moveNames]="moveNamesSubject.asObservable()" class="d-none d-xl-block" ></app-movelist>
                </div>
            </div>
        </div>  
        <div class="col-10 col-lg-8">
            <div class="d-flex flex-column">
                <app-move-info [moves]="movesSubject.asObservable()"></app-move-info>
                <app-character-navbar-sm
                 [moveNames]="moveNamesSubject.asObservable()"
                 [character]="characterSubject.asObservable()">
                </app-character-navbar-sm>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4">
            <app-character-info [character]="characterSubject.asObservable()" ></app-character-info>
        </div>
    </div>
</div>