<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl-2">
            <div class="d-flex flex-column position-fixed">
                <div class="trinity-header">
                    <app-trinity-header class="d-none d-xl-block" [isSmall]="true"></app-trinity-header>
                </div>
                <div>
                    <app-character-selection class="d-none d-xl-block" [textInputClass]="textInputClass" [imgClass]="imgClass"></app-character-selection>
                </div>              
                <div class="movelist">    
                    <app-movelist class="d-none d-xl-block" ></app-movelist>
                </div>
            </div>
        </div>  
        <div class="col-10 col-lg-8">
            <app-move-info></app-move-info>
        </div>
        <div class="col-xl-2 col-lg-4">
            <app-character-info></app-character-info>
        </div>
    </div>
</div>