.main-container {
    max-width: 60vw;
    height: 100vh;
}

@media screen and (max-width: 1200px) {
    .main-container {
        max-width: 800px;
        height: 100vh;
    }
}

.spinner {
    width: 100px;
    height: 100px;
}