<div class="fixed-top d-sm-none border">
    <nav style="height: 60px;" class="navbar navbar-expand-sm bg-secondary">
        <div class="d-flex flex-row px-2">
            <a class="navbar-brand" [routerLink]="['/']">
                <img class="border rounded-circle" src="https://cdn.discordapp.com/app-icons/576357396809777153/d50202ebcec4a59c7cd2d45f999a7e39.png">
                Trinity Bot
            </a>
    
            <app-character-selection [textInputClass]="'mb-4 border border-light form-control-sm'"></app-character-selection>
        </div>
    </nav>
</div>