<div #movesDiv *ngFor="let move of moves | async" class="container-fluid m-4 div-color">
    <div class="row">
        <div class="col-md-7 col-12">
            <app-move-info-frame-data [move]="move"></app-move-info-frame-data>
        </div>
        <div class="col-md-5">
            <div class="d-flex flex-column m-2">
                <app-move-info-sprite [move]="move"></app-move-info-sprite>
                <app-move-info-notes [move]="move"></app-move-info-notes>
            </div>
        </div>
    </div>
</div>
