<div *ngFor="let move of moves | async" class="container-fluid m-4 div-color">
    <div class="row">
        <div class="col-7">
            <div class="d-flex flex-column">
                <h1 class="p-2 align-self-center">{{ move.move_name }}</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div *ngFor="let property of moveProperties.slice(0, 7)" class="d-flex flex-column border border-secondary p-2 m-1">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="badge rounded-pill bg-dark">{{ parseProperty(property) }}</span>
                                        </div>
                                        <div class="col-6">
                                            <p>{{ getMoveValueByProperty(move, property) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div *ngFor="let property of moveProperties.slice(7)" class="d-flex flex-column border border-secondary p-2 m-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="badge rounded-pill bg-dark">{{ parseProperty(property) }}</span>
                                        </div>
                                        <div class="col-6">
                                            <p>{{ getMoveValueByProperty(move, property) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="shadow d-flex flex-column m-2 border border-secondary">
                <img src="{{getSpriteUrl(move.sprite)}}" loading="lazy">
                <p>{{move.notes}}</p>
            </div>
        </div>
    </div>
</div>
