<div @fadeInUpOnEnter class="fixed-bottom d-xl-none">
    <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container">
            <a class="navbar-brand d-none d-sm-block" [routerLink]="['/']">
                <img class="border rounded-circle" src="https://cdn.discordapp.com/app-icons/576357396809777153/d50202ebcec4a59c7cd2d45f999a7e39.png">
            </a>

            <a class="d-sm-none btn my-btn" [routerLink]="['/']">
                Home
            </a>
            
            <app-move-sprite-toggler class="d-md-none" (checkBoxValue)="onSpriteCheckBoxEvent($event)"></app-move-sprite-toggler>
            <app-movelist-dropup [moveNames]="moveNames"></app-movelist-dropup>

            <app-character-info-button class="d-lg-none" [character]="character"></app-character-info-button>
              
        </div>
    </nav>
</div>