.main-container {
    max-width: 400px;
    height: 570px;
}

@media screen and (max-width: 1200px) {
    .main-container {
        max-width: 500px;
        height: 490px;
    }
}

.spinner {
    width: 100px;
    height: 100px;
}