<div class="input-group mb-3 p-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">🔎</span>
  </div>
  <form [formGroup]="formGroup">
    <input type="text"
            class="form-control"
           placeholder="{{optionSelected | async}}" 
           matInput
           formControlName="characterName"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">                  
      <mat-option *ngFor="let character of matchedCharacters | async" [value]="character">
        <div class="d-flex flex-row p-2 align-items-center">
          <img src="{{character.iconUrl}}" loading="lazy" class="{{ character.gamePrefix }}">
          <p class="p-1">{{ character.name }} </p>
        </div>
        
      </mat-option>
    </mat-autocomplete>
  </form>
</div>