<div class="input-group mb-3 p-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">🔎</span>
  </div>
  <form class="example-form">
    <input type="text"
            class="form-control"
           placeholder="Character"
           [formControl]="control"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let name of characterObservables[0] | async">
        {{name.replace('_', ' ')}}
      </mat-option>
    </mat-autocomplete>
  </form>
  
</div>