<div class="input-group mb-3 p-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">🔎</span>
  </div>
  <form [formGroup]="formGroup">
    <input type="text"
            class="form-control"
           placeholder="{{optionSelected | async}}" 
           matInput
           formControlName="characterName"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">                  
      <mat-option *ngFor="let name of matchedOptions" [value]="name">
        {{ name }}
      </mat-option>
    </mat-autocomplete>
  </form>
</div>