@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    background-color: rgb(43, 42, 42);
}

.main-container {
    max-width: 1366px;
}

h1, h2, p {
    color: white;
}

.div-color {
    background-color:rgb(92, 92, 92);
}

.li-color {
    background-color: rgb(70, 70, 70);
}

.cf {
    height: 45px;
}

.tag {
    height: 65px;
}

.cf-small {
    height: 25px;
}

.tag-small {
    height: 35px;
}