<div class="fixed-bottom">
    <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">
                <img class="border rounded-circle" src="https://cdn.discordapp.com/app-icons/576357396809777153/d50202ebcec4a59c7cd2d45f999a7e39.png">
            </a>
            
            <app-movelist-dropup [moveNames]="moveNames"></app-movelist-dropup>

            <app-character-info-button [character]="character"></app-character-info-button>
              
        </div>
    </nav>
</div>